body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background: #fff;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form input, .form button {
    padding: 10px;
    margin-right: 10px;
    flex: 1;
}

form button {
    flex: 0.5;
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: #218838;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

.delete-button {
    color: red;
    text-decoration: none;
}

.delete-button:hover {
    text-decoration: underline;
}
.increment-form {
    display: inline-block;
    margin-top: 5px;
}

.increment-form input {
    width: 60%;
    padding: 5px;
}

.increment-form button {
    padding: 5px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.increment-form button:hover {
    background: #0056b3;
}
.back-button {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 15px;
    background: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.back-button:hover {
    background: #218838;
}

.view-all-button {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 15px;
    background: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.view-all-button:hover {
    background: #218838;
}
